<address id="contact_info">
  <h2 class="title">Contact Me</h2>
  <dl class="info">
    <dt>Company</dt>
    <dd><a href="http://binarynoggin.com" title="Binary Noggin">Binary Noggin</a></dd>
    <dt>Email</dt>
    <dd><a href="mailto:contact@binarynoggin.com"
      title="Email">contact@binarynoggin.com</a></dd>
    <dt>Github</dt>
    <dd><a href="http://github.com/adkron" title="Github">Adkron</a></dd>
    <dd><a href="http://github.com/BinaryNoggin" title="Github">BinaryNoggin</a></dd>
    <dt>Twitter</dt>
    <dd><a href="http://twitter.com/adkron" title="Twitter">@adkron</a></dd>
    <dd><a href="http://twitter.com/BinaryNoggin" title="Twitter">@binarynoggin</a></dd>
    <dt>Podcast</dt>
    <dd><a href="http://thisagilelife.com" title="Podcast">This Agile Life</dd>
  </dl>
</address>
