html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.site {
  font-family: Georgia;
  font-size: 16px;
  line-height:  18px;
}

.site p {
  margin: 20px 0px;
}

a:visited, a:hover, a {
  color: blue;
}

time {
  display: block;
  margin-bottom: 10px;
}

.site .title {
  height: 160px;
  display: block;
  width: 100%;
  text-align: right;
}

.site .title h1 {
  font-variant: small-caps;
  line-height: 64px;
  font-size: 62px;
}

.site h2 {
  line-height: 20px;
  font-size: 18px;
}

#archive li {
  display: inline-block;
  width: 33%;
}

#archive time {
  display: inline;
}

#post, #disqus_thread {
  width: 960px;
  margin: 0 auto;
}

#post h2 {
  line-height: 24px;
  font-size: 22px;
}

#post ul, #post ol {
  padding: 30px 10px;
}
