* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FAFFFA
}

.site {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }
  .site .title {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .site .title:last-child {
      margin-right: 0; }
  .site blockquote {
    background-color: #CCC; }
  .site .pair {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .site .pair:last-child {
      margin-right: 0; }
  .site #post {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .site #post:last-child {
      margin-right: 0; }
  .site #archive {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .site #archive:last-child {
      margin-right: 0; }
    .site #archive .title {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .site #archive .title:last-child {
        margin-right: 0; }
    .site #archive .archived_posts {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      list-style-type: none; }
      .site #archive .archived_posts:last-child {
        margin-right: 0; }
      .site #archive .archived_posts .post {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .site #archive .archived_posts .post:last-child {
          margin-right: 0; }
  .site #contact_info {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    .site #contact_info:last-child {
      margin-right: 0; }
    .site #contact_info .info {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .site #contact_info .info:last-child {
        margin-right: 0; }
  .site nav {
    position: fixed;
    top: 40%;
    left: 15px; }
    .site nav ~ nav {
      left: auto;
      right: 15px; }
    .site nav ul {
      list-style-type: none; }
