* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.site {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }
  .site .title {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .site .title:last-child {
      margin-right: 0; }
  .site #post {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .site #post:last-child {
      margin-right: 0; }
  .site #archive {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .site #archive h2 {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .site #archive h2:last-child {
        margin-right: 0; }
    .site #archive:last-child {
      margin-right: 0; }
    .site #archive ul {
      list-style-type: none; }
  .site nav {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .site nav:last-child {
      margin-right: 0; }
    .site nav ul {
      list-style-type: none; }
