@import 'bourbon/bourbon';
@import "neat/neat";

.site {
  @include outer-container;
  font-family: $georgia;

  .title {
    @include span-columns(7);
  }

  .pair {
    @include span-columns(4);
   }

  #post {
    @include span-columns(8);
    @include shift(2);
  }

  .archive {
    @include row();
    @include span-columns(12);

    h2 {
      @include span-columns(12);
    }

    ul {
      list-style-type: none;
    }
  }

  nav {
    position: fixed;
    top: 40%;
    left: 15px;
    &~ nav {
      left: auto;
      right: 15px;
    }

    ul {
      list-style-type: none;
      .prev {
      }
      .next {
      }
    }
  }
}
