<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/post.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <div class='site'>
      <div class='title'>
        <h1><a href="{{ site.base_url }}">DirtyInformation</a></h1>
      </div>

      <div id='post'>
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <time>{{ page.date | date_to_string }}</time>
        {{ content }}
      </div>
      {% include disqus.html %}
    </div>
  </body>
</html>
