<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class='site'>
      <div class='title'>
        <h1><a href="{{ site.base_url }}">DirtyInformation</a></h1>
      </div>

      <nav>
        <ul>
          {% if page.previous %}
            <li><a href="{{ page.previous.url }}">&lt;</a></li>
          {% endif %}
          {% if page.next %}
            <li><a href="{{ page.next.url }}">&gt;</a></li>
          {% endif %}
        </ul>
      </nav>

      <div id='post'>
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <time>{{ page.date | date_to_string }}</time>
        {{ content }}
      </div>

      <nav>
        <ul>
          {% if page.previous %}
            <li><a href="{{ page.previous.url }}">&lt;</a></li>
          {% endif %}
          {% if page.next %}
            <li><a href="{{ page.next.url }}">&gt;</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </body>
</html>
